/* Ikraam's CSS*/
*{
	padding:0px;
	margin:0
}
.nav-menu {
	list-style-type: none;
	display: flex;
	padding-top:40px;
  
	
}

.page_item a {
	margin:0px 20px ;
	text-decoration:none;
	color:white
}

.menu-toggle{
	display:none
}
.site-header{
	display:flex;
	background-color: black;
	justify-content:space-evenly
}

/* Atheelah's CSS */
.text{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}
.under{
	top:80%;
	color:red;
}

/*kiyaamodien  */
.services {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 40%;
	color: #eceff3;
}

.discover {
	color: #eceff3;
}

.BI {
	width: 100%;
	height: 341px;
	object-fit: cover;
	opacity: 0.5;
}

.discover {
	position: absolute;
	top: 26%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.under {
	color: #de3370;
	top: 31%;
	margin-bottom: 10px;
}

.services-container {
	flex-direction: row;
	justify-content: space-evenly;
	display: flex;
}

.services-container {
	height: 300px;
	width: 300px;
}
/* nahum */
#wpforms-350 {
	background-color: #fff;
	padding: 20px;
	margin-top: 30px;
}
#wpforms-350-field_2{
	width:608px;
}
#wpforms-submit-350{
	background-color: #de3370;
	color: #ffffff;
	font-weight: bold;
}
#wpforms-submit-350:hover{
	transition:0.5s;
	color: #000000;
	background-color: #eee;
	cursor:pointer
}
