/* Ikraam's CSS*/
.nav-menu {
	list-style-type: none;
	display: flex;
	justify-content:flex-end
}

li {
	margin:0px 20px 
}

.menu-toggle{
	display:none
}
/* 
hello */

/* Atheelah's CSS */
.text{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}
.under{
	top:80%;
	color:red;
}
.image{
	width:100%;
	height:350px;
	object-fit:cover;

}
.wp-block-columns{
	padding:50px;
	margin-left: 90px;
}
button, input {
    overflow: visible;
    padding: 10px;
}
.form{
	margin-bottom:10px;
 	margin-top:10px;
	width:300px;
	border: 1px solid #D3D3D3;
}
.apple{
	height: 50px;
	width: 100px;
}